@import 'variables';

body {
  background-color: $godaddy;
}

h1 {
  color: $secondary;
  text-align: center;
}

.container {
  width: 100vw;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
}

.bingo-table {
  border: $border;
  width: 100vw;
  height: 75vh;
  background-color: $secondary;
}

.bingo-header {
  th {
    background-color: $primary;
    color: $secondary;
    border: $border;
    height: 50px;
    width: 20%;
    justify-content: space-around;
    align-content: space-between;
  }
}

.bingo-body {
  border: $border;
  tr {
    width: 20%;
  }
}

.bingo-cell {
  text-align: center;
  border: $border;
  font-weight: bold;
}

.active-cell {
  background-color: $primary;
  color: $secondary;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-modal-bg;
  background-color: $modal-backdrop-bg;

  // Fade for backdrop
  &.fade { opacity: 0; }
  &.in { opacity: $modal-backdrop-opacity; }
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-modal;
  display: none;
  overflow: hidden;
  // Prevent Chrome on Windows from adding a focus outline. For details, see
  // https://github.com/twbs/bootstrap/pull/10951.
  outline: 0;
  -webkit-overflow-scrolling: touch;

  // When fading in the modal, animate it to slide down
  &.fade .modal-dialog {
    transition: transform .3s ease-out;
    transform: translate(0, -25%);
  }
  &.in .modal-dialog { transform: translate(0, 0); }
}