@import 'variables';

body {
  background-color: $godaddy;
}

h1 {
  color: $secondary;
  text-align: center;
}

.container {
  width: 100vw;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
}

.bingo-table {
  border: $border;
  width: 100vw;
  height: 75vh;
  background-color: $secondary;
}

.bingo-header {
  th {
    background-color: $primary;
    color: $secondary;
    border: $border;
    height: 50px;
    width: 20%;
    justify-content: space-around;
    align-content: space-between;
  }
}

.bingo-body {
  border: $border;
  tr {
    width: 20%;
  }
}

.bingo-cell {
  text-align: center;
  border: $border;
  font-weight: bold;
}

.active-cell {
  background-color: $primary;
  color: $secondary;
}
